*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
width: 100%;
height: 100vh;
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
align-items: center;
}

.quadrado{
width: 200px;
height: 200px;
border-radius: 30px;
background-color: rgb(98, 43, 226);
}
